body{
  background-color: #908868;
  background-attachment: fixed;
  margin: 0;
  color: #181810;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.profile{
  height: 200px;
  width: 200px;
  margin: auto;
  border-radius: 50%;
  border: solid 1px black;
  background-color: #908868;
}

.title {
  color: #908868;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin: auto;
  border-top: #181810 solid 1px;
}

.container{
  width: 90%;
  max-width: 700px;
  padding: 10px;
  margin: 20px auto 20px auto;
  background-color: #908868;
  border-radius: 10px;
  box-shadow: #181810 0px 2px 4px 0px, #181810 0px 2px 16px 0px;
}

.scroll-list{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  width: 90%;
  padding:10px;
  margin: auto;
  margin-top: 10px;
  border-radius: 10px;
  background-color: #908868;
}

.card{
  font-size: xx-large;
  flex: 0 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 200px;
  background-color: #908868;
  border-radius: 5px;
  box-shadow: #181810 0px 2px 4px 0px, #181810 0px 2px 16px 0px;
}

.Langs{
  background-color: #908868;
  padding: 5px;
  text-align: center;
  font-weight: bolder;
}
.pill{
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
}
.fill{
  height: 100%;
  border-radius: 20px;
  background-color: #181810;
}
.langsList{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
header {
  margin: auto;
  text-align: center;
  background-color: #181810;
  padding: 10px;
}
.sticky{
  background-color: #181810;
  border-radius: 0 0 20px 20px;
  position: sticky;
  top: 0;
}
.shadow{
  box-shadow: #181810 0px 2px 4px 0px, #181810 0px 2px 16px 0px;
}
h2,p{font-weight: bolder;}
.html{width: 95%;}
.css{width: 90%;}
.js{width: 80%;}
.java{width: 20%;}
li{list-style: none; margin: 10px;}
a{text-decoration: none; color: #fff;}
footer{text-align: center;}
.about{text-align: center;}